BODY
{
	margin: 0px !important;
}
.au-footer
{
}
.container-fluid
{
	max-width: 70rem !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
/**/
@media screen and (max-width: 768px)
{
}
@media screen and (min-width: 768px)
{
	.section__head
	{
		padding-bottom: 0px !important;
	}
	.section__title
	{
		max-width: 300px;
		border-bottom: 2px solid black;
		vertical-align: bottom !important;
		height: 50px;
		padding-top: 50px !important;
	}
	.section__titleLink
	{
		text-decoration: none !important;
		color: black !important;
		vertical-align: top;
	}
	.section__titleLink > .section__title:after
	{
		content: '\00a0\00a0>';
		font-family: '"Century Gothic", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;';
	}
	.section__titleLink:hover
	{
		text-decoration: underline !important;
		color: #089194 !important;
	}
	.section__topiclist
	{
		margin-top: 0px;
	}
	.jumbo
	{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.section__topiclist
{
	list-style: none;
	padding-left: 10px;
}
.section__topic:before
{
	content: '>';
	padding-right: 5px;
}
.section__head
{
	padding-bottom: 20px;
	padding-top: 20px;
}
.section__title
{
	margin-top: 20px;
}
.section__subtext
{
	margin-top: 0px !important;
}
/**/
.dashboardHeader
{
	padding-top: 20px;
	padding-bottom: 50px;
}
.dashboardHeader__title
{
	width: 350px;
	float: left;
}
.dashboardHeader__body
{
	clear: both;
	padding-top: 18px;
	padding-bottom: 35px;
}
.dashboardHeader__overview
{
	font-weight: bold;
	padding-right: 10px;
}
.dashboardHeader__widgets
{
	float: right;
	padding-right: 20px;
}
.dashboardWidget__icon
{
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.dashboardWidget__count
{
	font-size: smaller;
	color: black;
	background: #61DAFF;
	font-weight: bold;
	/*+border-radius: 20px;*/
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	display: inline;
	padding: 4px 6px 4px 5px;
}
/**/
.popularItems
{
	/*border: 1px solid black;*/
}
.popularItems__head
{
	border-bottom: 1px solid black;
	font-weight: bold;
}
.popularItems__headTitle
{
	display: inline;
}
.popularItems__headMore
{
	float: right;
}
.popularItems__headMore:after
{
	content: '\00a0>';
}
.popularItem
{
	border-bottom: 1px solid black;
	padding: 10px;
}
.popularItem:last-child
{
	border-bottom: none;
}
.popularItem__title
{
	font-weight: bold;
}
.popularItem__title:after
{
	content: '\00a0>';
}
.popularItem__date
{
	font-style: italic;
	font-size: smaller;
}
/**/
.callToAction
{
	padding-top: 20px;
	padding-bottom: 50px;
}
/**/
.servicesList
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.digitalService
{
	border: 1px solid black;
	padding-bottom: 30px;
	margin-bottom: 20px;
}
.working
{
	border: 2px solid #FF5252;
}
